/* You can add global styles to this file, and also import other style files */
@import url('../src/custom-theme.scss');

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.sign-in-background-image {
  background-image: url('../public/images/background-images/laptop-with-different-applications-installed.jpg');
  /* Adjust path based on your image location */
  background-size: cover;
  background-position: center;
  object-fit: "contain";
  height: 100%;
  padding: 4%;
}

.image-container {
  max-width: 100%;
  height: auto;
  padding-bottom: 75px;
}

.image {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

}

.button-row {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 50%;

}

.my-sign-in-button {
  background-color: navy !important;
  /* Example: Green */
  color: white !important;
}