<div class="sign-in-background-image">

@if(isSignInAndSignUpButtonsVisible()){
  <div class="section">
    <div class="image-container">
      <img src='/Images/logo/techStackLogo.png' class="image">
    </div>
    <div class="button-row">
      <button mat-raised-button (click)="signInButtonClicked()">Sign In</button>
      <button mat-raised-button class="my-sign-in-button">Sign up</button>
    </div>
  </div>
}@else if ( isSignInFormVisible()) {
   <div class="section">
    
    <div class="button-row">
      <button mat-raised-button>Sign In</button>
      <button mat-raised-button class="my-sign-in-button">Sign up</button>
    </div>
  </div>
}

</div>