/* You can add global styles to this file, and also import other style files */
@import url('../src/custom-theme.scss');

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sign-in-background-image {
  background-image: url('../public/Images/background-images/pexels-ivo-rainha-527110-1290141.jpg');
  /* Adjust path based on your image location */
  background-size: cover;
  background-position: center;
  object-fit: "contain";
  height: 100%;
  padding: 10%;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50%;
}

.button-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 50%;
}