# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings


# System files
.DS_Store
Thumbs.db

# (Only for non-sensitive components in specific testing scenarios)

# Private keys (NEVER commit these)
*.key
*.pem
*.crt
*.cnf
# Certificate Signing Requests (CSRs)
*.csr

# Passwords for keys
*.pass.key

# Specific certificate files that are not meant for public distribution
# and contain sensitive information.
my_private_cert.crt